.custom-select {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .custom-option {
    display: flex;
    align-items: center;
    padding: 8px;
    transition: background 0.2s;
  }
  
  .custom-option:hover {
    background-color: #f0f0f0;
  }
  
  .team-logo {
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    margin-right: 10px;
  }
  